@font-face 
{
    font-family: 'guru';
   src: local('a~z'), url('guru.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face 
{
    font-family: 'guru0';
   src: local('a~z'), url('guru0.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face 
{
    font-family: 'guru1';
   src: local('a~z'), url('guru1.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face 
{
    font-family: 'guru2';
   src: local('a~z'), url('guru2.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face 
{
    font-family: 'guru4';
   src: local('a~z'), url('guru4.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face 
{
    font-family: 'guru5';
   src: local('a~z'), url('guru5.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face 
{
    font-family: 'guru6';
   src: local('a~z'), url('guru6.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face 
{
    font-family: 'guru7';
   src: local('a~z'), url('guru7.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face 
{
    font-family: 'guru8';
   src: local('a~z'), url('guru8.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face 
{
    font-family: 'guru9';
   src: local('a~z'), url('guru9.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face 
{
    font-family: 'guru10';
   src: local('a~z'), url('guru10.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face 
{
    font-family: 'guru11';
   src: local('a~z'), url('guru11.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face 
{
    font-family: 'guru12';
   src: local('a~z'), url('guru12.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face 
{
    font-family: 'guru14';
   src: local('a~z'), url('guru14.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face 
{
    font-family: 'guru15';
   src: local('a~z'), url('guru15.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

html p, html i,ul *{font-family:guru}
html *,body *,h1,h2,h3,h4,h5{font-family:guru0}
body input,{font-family:guru15;font-weight:550;letter-spacing: 1px;}
*{font-family:guru0;}